.LeftTree-TopSelect .ant-select-selection{
    background: lightgray;
}
.LeftTree-TopSelect .ant-select-selection{
    border-radius: 0px;
}
.LeftTree-LeftTopSelect .ant-select-selection{
    border: 0;
}
.LeftTree-RightTopSelect .ant-select-selection{
    border: 0;
}