
.liSelected{
    background-color: #bae7ff;
    padding:3px 8px;
    margin-bottom: 10px;
}
.liClass{
    padding:3px 8px;
    margin-bottom: 10px;
}

.liSelected:hover{
    cursor: pointer;
}

.liClass:hover{
    cursor: pointer;
}
